<div class="title-container">
<div class="card">
    <div class="card-header">
        <h1 class="description">Title</h1>
        <h2>{{blogs.title}}</h2>
            <p>Posted by: {{blogs.user.username}} at {{blogs.date}}</p>
    <div class="card-subheader">
        <h1>{{blogs.body}}</h1>
    </div>
    </div>
</div>
</div>


{{#each comments as |comment|}}
<div class="comment-container">
<div class="card">
    <div class="card-header">
        <h1 class="description">Response</h1>
        <h1>{{comment.body}}</h1>
        <p class="card-subheader">Posted by: {{user.username}} at {{comment.creation_date}}</p>
    </div>
</div>
</div>
{{/each}}

<form class="comment-form">
  <div class="form-group">
    <label for="comment-body">Leave a comment below:</label>
    <input type="comment-body-input" id="comment-body" class="form-control">
   </div>
  <button type="submit" id="submit" data-blog_id={{blog_id}} data-user_id={{user_id}} class="btn btn-primary">Submit</button>
</form>

<script src="/js/createComment.js"></script>

{{!-- {{#if logged_in}}
<form class="new-comment">

</form>

{{/if logged_in}} --}}

{{!-- 
<div class="card">
    <div class="card-header">
        <h1>{{blogs.title}}</h1>
            <p>Posted by: {{blogs.user.username}} at {{blogs.date}}</p>
    </div>
    <div class="card-subheader">
        <h1>{{blog.body}}</h1>
    </div>
</div>

{{#each comments as |comment|}}
    <div class="card">
        <p class="card-header">{{comment.body}}</p>
        <p class="card-body">Posted by: {{user.username}} at {{comment.creation_date}}</p>
{{/each}}
    </div> --}}